<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifangmoler.lab1"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.lifangmoler.adtracker.activity.BaseAppActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:uiOptions="splitActionBarWhenNarrow"
            android:name="com.lifangmoler.adtracker.activity.AdDisplayActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.lifangmoler.adtracker.activity.BaseAppActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lifangmoler.adtracker.activity.BaseAppActivity" />
            <meta-data 
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
    </application>

</manifest>
